@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.article-banner{
	background-color:#FFF;
	background-image:url("https://www.publicdomainpictures.net/pictures/150000/velka/banner-header-tapete-145002399028x.jpg");
	color: #222	;
	font-family:"Source Sans Pro";
	width:100%;
	padding: 25px;
	margin-bottom: 25px;
}

.article-body{
	font-size: 18px;
	font-family:"Source Sans Pro";
	
	
	

}

.delete-button{
	float:right;
	margin-right:40px;

}
.Demo__some-network {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  margin-top:10px;
  text-align: center;
}
.Demo__some-network__share-count {
  margin-top: 3px;
  font-size: 12px;
}

.Demo__some-network__share-button {
  cursor: pointer;
}

.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

