@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


.Menutab {
 background-color:#FFF;
 color: #BAF;
 

}
.link{
color:#555;
font-size:14px;
font-family: "Source Sans Pro";

}

.dropdown-multi{
	min-width: 400px;
	padding-left: 20px;
	padding-top: 10px;
	line-height: 30px;
	color:#EEE;
}

.dropdown-link{
	line-height: 30px;
	color:#111;
}

.navbar.navbar-default {
  border-bottom: none;
}
